$pcolor:#ffffff;
$scolor:#282828;
$blackcolor:#000000;
$hovercolor:#477018;
$textorang:#F47606;
$paracolor:#676767;
$catbg1:#FAFAFA;
$rating:#FFAE00;
$testcolor:#6C6C6C;
$test2color:#363636;
$bordercolor:#C9C9C9;